/* events animation */
@-webkit-keyframes _shark_rotate { 
    0% { -webkit-transform: translate(0, 0) rotate(0); }
    12.5% { -webkit-transform: translate(-1px, -1px); }
    25% { -webkit-transform: translate(-2px, 0) rotate(.8deg); }
    37.5% { -webkit-transform: translate(-1px, 1px); }
    50% { -webkit-transform: translate(0, 0) rotate(0); }
    62.5% { -webkit-transform: translate(1px, -1px); }
    75% { -webkit-transform: translate(2px, 0) rotate(-.8deg); }
    87.5% { -webkit-transform: translate(1px, 1px); }
    100% { -webkit-transform: translate(0, 0) rotate(0); }
}
@-moz-keyframes _shark_rotate { 
    0% { -moz-transform: translate(0, 0) rotate(0); }
    12.5% { -moz-transform: translate(-1px, -1px); }
    25% { -moz-transform: translate(-2px, 0) rotate(.8deg); }
    37.5% { -moz-transform: translate(-1px, 1px); }
    50% { -moz-transform: translate(0, 0) rotate(0); }
    62.5% { -moz-transform: translate(1px, -1px); }
    75% { -moz-transform: translate(2px, 0) rotate(-.8deg); }
    87.5% { -moz-transform: translate(1px, 1px); }
    100% { -moz-transform: translate(0, 0) rotate(0); }
}
@-ms-keyframes _shark_rotate { 
    0% { -ms-transform: translate(0, 0) rotate(0); }
    12.5% { -ms-transform: translate(-1px, -1px); }
    25% { -ms-transform: translate(-2px, 0) rotate(.8deg); }
    37.5% { -ms-transform: translate(-1px, 1px); }
    50% { -ms-transform: translate(0, 0) rotate(0); }
    62.5% { -ms-transform: translate(1px, -1px); }
    75% { -ms-transform: translate(2px, 0) rotate(-.8deg); }
    87.5% { -ms-transform: translate(1px, 1px); }
    100% { -ms-transform: translate(0, 0) rotate(0); }
}
@-o-keyframes _shark_rotate { 
    0% { -o-transform: translate(0, 0) rotate(0); }
    12.5% { -o-transform: translate(-1px, -1px); }
    25% { -o-transform: translate(-2px, 0) rotate(.8deg); }
    37.5% { -o-transform: translate(-1px, 1px); }
    50% { -o-transform: translate(0, 0) rotate(0); }
    62.5% { -o-transform: translate(1px, -1px); }
    75% { -o-transform: translate(2px, 0) rotate(-.8deg); }
    87.5% { -o-transform: translate(1px, 1px); }
    100% { -o-transform: translate(0, 0) rotate(0); }
}
@keyframes _shark_rotate { 
    0% { transform: translate(0, 0) rotate(0); }
    12.5% { transform: translate(-1px, -1px); }
    25% { transform: translate(-2px, 0) rotate(.8deg); }
    37.5% { transform: translate(-1px, 1px); }
    50% { transform: translate(0, 0) rotate(0); }
    62.5% { transform: translate(1px, -1px); }
    75% { transform: translate(2px, 0) rotate(-.8deg); }
    87.5% { transform: translate(1px, 1px); }
    100% { transform: translate(0, 0) rotate(0); }
}
/* /events animation */

body {
    margin: 0;
    padding: 0;
    background: white;
    font-size: 16px;
}

img {
    max-width: 100%;
    border: none;
}

.container {
    width: 900px;
    margin: 50px auto 30px auto;
}

.clearfix {
    clear: both;
}

.col-left {
    float: left;
    margin-bottom: 40px;
}
.col-right {
    float: right;
    width: 530px;
}

.big-logo {
    width: 320px;
}
.big-logo img {
    width: 100%;
}
.wechat-qrcode {
    display: none;
}

.icons {
    text-align: center;
}
.icon {
    float: left;
    width: 100px;
    margin: 1rem;
}
.icon a {
    display: block;
    outline: none;
    text-decoration: none;
    color: #333;
}
.icon img,
.hidden-text {
    display: block;
    width: 100%;
    border-radius: 1.5rem;
}
.icon.weibo img {
    background-color: #EAEFA4;
}
.icon .caption {
    font-size: 1.1em;
    margin-top: .5em;
}
.icon .image {
    position: relative;
}
.hidden-text {
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    color: white;
    font-size: 14px;
    text-shadow: 1px 1px 9px #4eb84c;
    line-height: 1.5;
}
.hidden-text span {
    width: 100%;
    position: absolute;
    left: 0;
    top: 26%;
}
.hidden-text strong {
    font-size: 18px;
}
.icon:hover .hidden-text {
    display: block;
}

.col-right {
    margin: 1em 0;
}
.col-right .row {
    margin-bottom: 22px;
    padding-top: 10px;
}
.col-right .row .title {
    margin-bottom: 12px;
    text-align: center;
    font-size: 1.2em;
    line-height: 1px;
    color: #666;
    border-bottom: 1px solid #ccc;
}
.col-right .row .title span {
    padding: 0 10px;
    background-color: white;
}



.latest-podcast {
    display: none;
    position: relative;
}
#js-latest-podcast {
    margin: 20px 10px 30px 10px;
}
.latest-podcast .podcast-title {
    font-size: 1.2em;
}
.latest-podcast .podcast-description {
    margin-top: 8px;
    font-size: 0.9em;
    color: #666;
}
.latest-podcast .podcast-pubdate {
    margin-left: 1em;
    font-size: .75em;
    color: #999;
}
.latest-podcast .podcast-player {
    margin-top: 18px;
}
.latest-podcast .podcast-player audio {
    width: 100%;
}
.latest-podcast .more-btn {
    display: none;
    padding: 0 5px;
    position: absolute;
    right: 0;
    top: 3px;
    font-size: .75em;
    color: #999;
    text-decoration: none;
    background-color: white;
}

.footer {
    margin-top: 50px;
    text-align: center;
    font-size: .8em;
    color: #999;
}
.footer a {
    text-decoration: none;
    color: #888;
}
.footer a:hover {
    text-decoration: underline;
}
.footer .sns-share {
    margin-bottom: 12px;
}
.footer .bdsharebuttonbox {
    width: 164px;
    margin: 0 auto;
}
.footer .copyright div {
    margin: 6px 0;
}


.container-wrapper {
    width: 100%;
    position: absolute;
    z-index: 6;
    top: 0;
    left: 0;
    background: white;
    -webkit-transition: left 500ms ease;
    -khtml-transition: left 500ms ease;
    -moz-transition: left 500ms ease;
    -ms-transition: left 500ms ease;
    -o-transition: left 500ms ease;
    transition: left 500ms ease;
}

.right-banner-toggle-switch-btn {
    position: fixed;
    z-index: 8;
    top: 0;
    right: 0;
    display: block;
    width: 42px;
    height: 42px;
    background: url(//default.u.qiniudn.com/list-icon.png) no-repeat center;
    background-size: 22px;
    text-decoration: none;
    -webkit-transition: right 500ms ease;
    -khtml-transition: right 500ms ease;
    -moz-transition: right 500ms ease;
    -ms-transition: right 500ms ease;
    -o-transition: right 500ms ease;
    transition: right 500ms ease;
}
body.show-banner .container-wrapper {
    left: -320px;
}
body.show-banner .right-banner-toggle-switch-btn {
    right: 320px;
}

.right-vertical-banner {
    width: 320px;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    background: #ccc url(//default.u.qiniudn.com/osx-bg.jpg);
    box-shadow: 8px 0 8px #333 inset;
    color: white;
    font-family: 'SimSun';
}


.right-banner-navi {
    height: 28px;
    border-bottom: 1px solid #999;
    padding: 14px 20px 8px 20px;
    position: fixed;
    z-index: 5;
    width: 280px;
    background: #ccc url(//default.u.qiniudn.com/osx-bg.jpg);
}
.right-banner-navi .banner-navi-btn {
    display: block;
    float: left;
    width: 50%;
    height: 24px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    color: white;
    background: #666;
}
.right-banner-navi .banner-navi-btn:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.right-banner-navi .banner-navi-btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.right-banner-navi .banner-navi-btn.active,
.right-vertical-banner.show-podcast-list .banner-navi-podcast-btn,
.right-vertical-banner.show-help .banner-navi-help-btn {
    color: black;
    background: #ccc;
    box-shadow: 0 0 4px #FFF;
}

.right-banner-content-wrapper {
    margin: 60px 20px 20px 20px;
    position: relative;
}
.right-banner-content {
    width: 999px;
    position: absolute;
    left: 0;
    -webkit-transition: left 500ms ease;
    -khtml-transition: left 500ms ease;
    -moz-transition: left 500ms ease;
    -ms-transition: left 500ms ease;
    -o-transition: left 500ms ease;
    transition: left 500ms ease;
}
.right-banner-content .all-podcasts,
.right-banner-content .help-info {
    width: 280px;
    margin-right: 20px;
    float: left;
}
.right-vertical-banner.show-podcast-list .right-banner-content {
    left: 0;
}
.right-vertical-banner.show-help .right-banner-content {
    left: -300px;
}


.right-banner-content .all-podcasts .loading {
    margin-top: 3em;
    text-align: center;
}
.right-banner-content .all-podcasts .loading img {
    width: 32px;
    height: 32px;
}
.right-banner-content .all-podcasts .podcast-list {
    padding-left: 0;
    list-style-position: inside;
    list-style-type: circle;
    font-size: 14px;
}
.right-banner-content .all-podcasts .podcast-list li {
    margin: 8px 0;
    padding: 2px 0 2px 8px;
    position: relative;
}
.right-banner-content .all-podcasts .podcast-list .podcast-list-play-btn {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background: url(//default.u.qiniudn.com/play-btn.png) no-repeat center;
    background-size: 100%;
    text-decoration: none;
}
.right-banner-content .all-podcasts .podcast-list li:hover .podcast-list-play-btn {
    display: block;
}
.right-banner-content .all-podcasts .podcast-list .podcast-title {
    display: inline-block;
    width: 80%;
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}
.right-banner-content .all-podcasts .podcast-list .podcast-pubdate {
    position: absolute;
    right: 0;
    top: 4px;
    font-size: 12px;
    color: #ccc;
}

.right-banner-content .help-info h2 {
    margin: 10px 0;
    font-size: 18px;
}
.right-banner-content .help-info dl {
    font-size: 14px;
    margin-bottom: 24px;
}
.right-banner-content .help-info dt {
    padding-bottom: 6px;
    border-bottom: 1px solid #666;
}
.right-banner-content .help-info dd {
    margin-left: 12px;
}
.right-banner-content .help-info ul {
    padding-left: 0;
    list-style: none;
}
.right-banner-content .help-info li {
    margin: 8px 0;
}
.right-banner-content .help-info .key {
    padding: 2px 5px;
    border: 1px solid #666;
    border-radius: 4px;
    background: rgba(0,0,0,.6);
    margin-right: 8px;
    font-weight: bold;
}


@media only screen and (min-width: 900px) {
    .big-logo {
        position: fixed;
        height: 320px;
    }
    .big-logo img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .wechat-qrcode {
        display: block;
    }
    .pkuspot-logo {
        z-index: 6;
        background: white;
        -webkit-transition: all 360ms ease;
        -khtml-transition: all 360ms ease;
        -moz-transition: all 360ms ease;
        -ms-transition: all 360ms ease;
        -o-transition: all 360ms ease;
        transition: all 360ms ease;
    }
    /*.big-logo:hover .pkuspot-logo,*/
    .big-logo.show-qrcode .pkuspot-logo {
        width: 50px;
        left: 135px;
        top: 135px;
        border-radius: 8px;
    }
    .icon:hover {
        -webkit-animation: _shark_rotate 600ms linear infinite;
        -moz-animation: _shark_rotate 600ms linear infinite;
        -ms-animation: _shark_rotate 600ms linear infinite;
        -o-animation: _shark_rotate 600ms linear infinite;
        animation: _shark_rotate 600ms linear infinite;
    }
}


@media only screen and (max-width: 900px) {
    .container {
        width: 88%;
        margin: 20px auto;
    }
    .big-logo {
        margin: 20px auto;
    }
    .col {
        float: none;
        width: 100%;
    }
}

@media only screen and (max-width: 460px) {
    .big-logo {
        width: 100%;
        height: auto;
    }

    .icon {
        width: 40%;
        margin: 5%;
    }

    .icon .caption {
        font-size: .9em;
    }

    .hidden-text span {
        top: 32%;
    }

    body .right-banner-toggle-switch-btn {
        width: 24px;
        height: 32px;
        background-size: 18px;
    }

}














